<div class="row" style="margin-right: -24px; padding-bottom: 24px;">
  <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
    <tbody>
      <tr>
        <td class="col-9" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 75%; margin: 0;" align="left" valign="top">
          <div class="row" style="margin-right: -24px;">
            <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
              <tbody>
                <tr>
                  <td class="col-12" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 100%; margin: 0;" align="left" valign="top">
                    <strong><a href="{{url}}" style="color: #0d6efd;">{{title}}</a></strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" style="margin-right: -24px;">
            <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
              <tbody>
                <tr>
                  <td class="col-12 text-gray-700" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 100%; color: #4a5568; margin: 0;" align="left" valign="top">
                    {{description}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" style="margin-right: -24px;">
            <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
              <tbody>
                <tr>
                  <td class="col-12" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 100%; margin: 0;" align="left" valign="top">
                    <a href="{{url}}" style="color: #0d6efd;">{{domain}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="col-3" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 25%; margin: 0;" align="left" valign="top">
          <img src="https://YOUR_IMGPROXY.example.com/preset:sharp/resize:fill:140:140:0/gravity:sm/plain/{{image}}@jpeg" style="height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; border-style: none; border-width: 0;">
        </td>
      </tr>
    </tbody>
  </table>
</div>